/* Main Navigation Bar (top of page) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  background: #000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
nav .main_nav {
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0 50px;
}
.main_nav .logo a {
  font-size: 30px;
  color: #b22227;
  text-decoration: none;
  font-weight: 600;
}
nav .main_nav .nav_links {
  line-height: 70px;
  height: 100%;
}
nav .main_nav .links {
  display: flex;
}
nav .main_nav .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .main_nav .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
nav .main_nav .links li a:hover {
  color: #b22227;
  transition: 700ms ease;
}

.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
  transform: rotate(180deg);
}

nav .main_nav .links li .arrow {
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .main_nav .links li .sub-menu {
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .main_nav .links li:hover .htmlCss-sub-menu,
nav .main_nav .links li:hover .js-sub-menu {
  display: block;
}
.main_nav .links li .sub-menu li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.main_nav .links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.main_nav .links li .sub-menu .more-arrow {
  line-height: 40px;
}
.main_nav .links li .htmlCss-more-sub-menu {
  /* line-height: 40px; */
}
.main_nav .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}
.main_nav .search_bar {
  position: relative;
  height: 40px;
  width: 40px;
}
.main_nav .search_bar i {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.main_nav .search_bar .input_box {
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: #b22227;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.main_nav.showInput .search_bar .input_box {
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: #b22227;
}
.search_bar .input_box::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background: #b22227;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}
.search_bar .input_box input {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.main_nav .nav_links .sidebar-logo {
  display: none;
}
.main_nav .bx-menu {
  display: none;
}
@media (max-width: 920px) {
  nav .main_nav {
    max-width: 100%;
    padding: 0 25px;
  }

  nav .main_nav .logo a {
    font-size: 27px;
  }
  nav .main_nav .links li {
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .main_nav .links li a {
    font-size: 15px;
  }
}
@media (max-width: 800px) {
  nav {
  }
  .main_nav .bx-menu {
    display: block;
  }
  nav .main_nav .nav_links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background: #b22227;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .main_nav .nav_links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name {
    font-size: 25px;
    color: #fff;
  }
  .sidebar-logo i,
  .main_nav .bx-menu {
    font-size: 25px;
    color: #fff;
  }
  nav .main_nav .links {
    display: block;
    margin-top: 20px;
  }
  nav .main_nav .links li .arrow {
    line-height: 40px;
  }
  nav .main_nav .links li {
    display: block;
  }
  nav .main_nav .links li .sub-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  nav .main_nav .links li .sub-menu li {
    border-bottom: none;
  }
  .main_nav .links li .sub-menu .more-sub-menu {
    display: none;
    position: relative;
    left: 0;
  }
  .main_nav .links li .sub-menu .more-sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow {
    transform: rotate(0deg);
  }
  .main_nav .links li .sub-menu .more-sub-menu {
    display: none;
  }
  .main_nav .links li .sub-menu .more span {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu {
    display: none;
  }
  nav .main_nav .links li:hover .htmlCss-sub-menu,
  nav .main_nav .links li:hover .js-sub-menu {
    display: none;
  }
  .main_nav .nav_links.show1 .links .htmlCss-sub-menu,
  .main_nav .nav_links.show3 .links .js-sub-menu,
  .main_nav .nav_links.show2 .links .more .more-sub-menu {
    display: block;
  }
  .main_nav .nav_links.show1 .links .htmlcss-arrow,
  .main_nav .nav_links.show3 .links .js-arrow {
    transform: rotate(180deg);
  }
  .main_nav .nav_links.show2 .links .more-arrow {
    transform: rotate(90deg);
  }
}
@media (max-width: 370px) {
  nav .main_nav .nav_links {
    max-width: 100%;
  }
}

/* Left sidebar */
body {
  font-family: "Lato", sans-serif;
}

.topic_nav {
  height: 100%;
  width: 230px;
  position: fixed;
  top: 0;
  left: 1px;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 150px;
}
/* Topic navigation bar */
.topic_nav a {
  padding: 6px 8px 6px 10px;
  text-decoration: none;
  font-size: 15px;
  color: #b22227;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.dropdown-btn {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 15px;
  color: #b22227;
  display: block;
  border: #b22227;
  border-left: solid;
  border-width: 5px;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
/* downloadable content topic navbar */
.dropdown-btn3 {
  padding: 6px 8px 6px 0px;
  text-decoration: none;
  font-size: 15px;
  color: #b22227;
  display: block;
  border: #b22227;
  border-left: solid;
  border-width: 5px;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.topic_nav a:hover,
.dropdown-btn:hover {
  color: #b22227;
  background-color: rgb(220, 220, 220);
}

.active .dropdown-btn:active {
  background-color: rgb(220, 220, 220);
  color: #b22227;
}

.dropdown-container {
  display: none;
  background-color: rgb(178, 34, 39, 0.1);
  padding-left: 10px;
}

/* Homepage right sidebar */
body {
  font-family: "Lato", sans-serif;
  color: #b22227;
}

.right_sidebar {
  height: 870px;
  width: 300px;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 70px;
}

.right_sidebar a {
  padding: 6px 8px 6px 16px;
  font-size: 15px;
  font-style: italic;
  color: #b22227;
  display: block;
  text-decoration: none;
}

.right_sidebar a:hover {
  color: #000;
}

@media screen and (max-height: 450px) {
  .right_sidebar {
    padding-top: 15px;
  }
  .right_sidebar a {
    font-size: 18px;
  }
}

/* Items in homepage's right sidebar  */
#side_item {
  background: #fff;
  font: 14px Helvetica, Arial, sans-serif;
  width: 298px;
  padding: 20px;
}

/* Topic pages table of contents */
#toc_container {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #aaa;
  display: table;
  font-size: 85%;
  margin-bottom: 1em;
  padding: 20px 20px 0px 20px;
  width: auto;
}
.toc_title {
  font-weight: 700;
  text-align: left;
}
#toc_container li,
#toc_container ul,
#toc_container ul li {
  list-style: outside none none !important;
}

/* Topic page right sidebar */
.topic_page_sidebar {
  height: auto;
  position: fixed;
  top: 150px;
  float: right;
  margin-top: 0px;
  margin-left: 1300px;
  padding-top: 0px;
  background-color: #b22227;
}

.topic_page_sidebar div {
  font-size: 24px;
  display: block;
}

/* Topic page content */
.body_text {
  float: left;
  margin-left: 250px;
  width: 1000px;
  font-size: 18px;
  overflow-x: hidden;
}

/*   */
.sidenav3 {
  height: 550px;
  width: 230px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 1px;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 153px;
}

.sidenav3 a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #b22227;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.dropdown-btn2 {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #b22227;
  display: block;
  border: #b22227;
  border-left: solid;
  border-width: 5px;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.right_sidebar a:hover,
.dropdown-btn2:hover {
  color: #b22227;
  background-color: rgb(220, 220, 220);
}

.active {
  background-color: #fff;
  color: #b22227;
}

.dropdown-container2 {
  display: none;
  background-color: rgb(220, 220, 220, 0.5);
  padding-left: 0px;
}

.main_content {
  width: 930px;
  position: absolute;
  z-index: 1;
  top: 50px;
  right: 0;
  left: 240px;
  background-color: rgb(255, 255, 255, 0.5);
  overflow-x: hidden;
  padding-top: 70px;
}

/* Purpose of topic page */
.purpose {
  width: 550px;
  height: auto;
  border-style: inset;
  border-width: 10px;
  border-color: #b22227;
  background-color: rgb(178, 34, 39, 0.5);
  text-align: left;
}

/* Button back to top */
#Top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #b22227;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#Top:hover {
  background-color: #555;
}

/* Homepage video */
.homepage_video {
  width: 500px;
  height: 300px;
}

/* Topic page main body embedded pdf */
.topic_pdf {
  padding-left:250px;
}
.embedded_pdf {
  padding-left:200px;	
}
/*embedded pdf was 100 and title.pdf was 150 when pdf was style set to 1000width/1200 height */

.embedded_pdf2 {
  padding-left:100px;	
}

/* iframe for PDFs on pages with PDF main content */
.pdf_location {
  width: 850px;
  height: 1130px;
}

/* Things to remember */
.remember {
  color:black;
}
.remember h2{
  color:#b22227;
  font-weight:normal;
}
.remember ol{
  padding-left: 20px;
}

/* Content title w/ embedded pdf */
.title_pdf {
  font-size:0px;
  text-align:center;
  padding-left:200px;
}

/* Content title no embedded pdf */
.title_no_pdf {
  font-size:50px;
  text-align:center;
}

/* Comparison table */
.comparison table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  color: black;
}

.comparison th, td {
  text-align: center;
  padding: 16px;
}

.comparison th:first-child, td:first-child {
  text-align: left;
}

.comparison tr:nth-child(even) {
  background-color: rgb(23, 162, 184, .5);
}

.fa-check {
  color: green;
}

.fa-remove {
  color: red;
}

/* Flipping tile (training page) */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 300px;
  height: 200px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 300px;
  height: 200px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #4b9cd3;
  color: white;
  padding: 50px;
}

.flip-card-back {
  background-color: white;
  color: #4b9cd3;
  transform: rotateY(180deg);
}

/* Container with horizontal scrolling (training page)*/
.grid-container4 {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  background-color: #fff;
  padding: 10px;
}

.grid-container4 > div {
  /*background-color: ;*/
  text-align: center;
  padding: 100px 0;
}

:root {
  --gutter: 20px;
}

.app {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: flex-start;
}

.app > * {
  grid-column: 2 / -2;
}

.app > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: 10px;
  grid-template-rows: minmax(150px, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: calc(50% - var(--gutter) * 2);
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: calc(0.75 * var(--gutter));
  margin-bottom: calc(-0.25 * var(--gutter));
}

.hs:before {
  content: "";
  width: 10px;
}

.hs:after {
  content: "";
  width: 10px;
}

.app {
  width: 375px;
  height: 667px;
  background: #fff;
  overflow-y: scroll;
}

.hs > li,
.item2 {
  padding: calc(var(--gutter) / 2 * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  border-radius: 8px;
}

/* Stacked boxes (training page) */
* {
  box-sizing: border-box;
}

.center {
  text-align-last: center;
  border: 2px solid black;
}

.column1 {
  float: center;
  width: 432.5px;
  padding: 10px;
  height: 100px;
  border-style: hidden solid hidden hidden;
  background-color: #b22227;
  color: #eeeeee;
}

.column2 {
  float: center;
  width: 432.5px;
  padding: 10px;
  height: 100px;
  border-style: hidden;

  color: #b22227;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.hide {
  display: none;
}

.myDIV:hover + .hide {
  display: block;
  color: red;
  text-align: right;
}

/* Known problems and solutions accordion */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
